.works-list {
  display: grid;
  height: max-content;
  padding-top: 45px;
}

.works-list-items {
  display: grid;
  padding-top: 15px;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 157px), 1fr));
  justify-content: center;
  gap: 15px;
}