.works-list {
  display: grid;
  padding-top: 15px;
  --gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 157px), 1fr));
  justify-content: center;
  gap: var(--gap);

  background-color: #DDE3E9;
}