.about {
  margin: 150px auto 40px auto;
  font-family: Arial, Helvetica, sans-serif;
}

.title-about {
  margin: 0;
  text-align: center;
  padding-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  text-transform: uppercase;
}

.text-about {
  width: min(100%, 800px);
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  color: #303030;
  background-color: rgba(221, 227, 233, .9);
  border-radius: 10px;
}