.work-drawer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 240px), 1fr));
  justify-content: center;
  padding: 15px
}

.screenshots {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      min(
        (45rem - 100%) * 999,
        100%),
      1fr
    )
  );
  /* repeat(auto-fit, minmax(min(100%, 240px), 1fr)); */
  justify-content: space-around;
}

.full-description {
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  margin-top: -5px;
  font-size: 35px;
}

.description {
  font-size: 20px;
  color: #92A0B8;
}