.work-drawer {
  display: grid;
  grid-template-columns: repeat(
    auto-fit, 
    minmax(
      min(100%, 240px), 1fr
    )
  );
  justify-content: center;
  padding: 15px
}

.tools-title {
  margin: 0;
  padding-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.tools-items {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(
      min(100%, 90px), 1fr
    )
  );
  padding: 5px;
}

.screenshots {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      min(
        (45rem - 100%) * 999,
        100%),
      1fr
    )
  );
  justify-content: space-around;
}

.full-description {
  font-family: Arial, Helvetica, sans-serif;
}

.title-and-close-btn {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;

}

.title {
  margin: 0;
  font-size: 35px;
}

.close-btn {
  height: 40px;
  width: 40px;
  background-image: url('../../../imgs/close-32.png');
  background-size: cover;
  background-position: center;
  cursor: pointer;

  border-color: #92A0B8;
  border-style: solid;
  border-radius: 100%;

  transition: border-color .2s linear;
}

.close-btn:hover {
  border-color: #000000;
}

.description {
  font-size: 20px;
  color: #92A0B8;
}
