.header {
  display: grid;
  height: 100vh;
  grid-template-rows: repeat(2, max-content);

  background-image: url('../../imgs/jesus-kiteque-wn-KYaHwcis-unsplash.jpg');
  background-size: cover;
  background-position: center;
}