.navbar {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 96px 35vw;
  justify-content: space-around;

  padding-top: 15px;
}

.logo {
  width: 96px;
  height: 60px;
  text-align: center;
}

.logo-text {
  font-family: Revalia;
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  line-height: 60px;
  margin: 0;

  text-align: center;
}