.navbar {
  display: grid;
  margin-top: 35px;
  width: 1890px;
  grid-template-rows: 60px;
  grid-template-columns: 96px 610px;
  justify-content: space-around;
}

.logo {
  width: 96px;
  height: 60px;
  text-align: center;
}

.logo-text {
  font-family: Revalia;
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  line-height: 60px;
  margin: 0;

  text-align: center;
}