.nav {
  display: grid;
  --gap: 15px;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      min(
        (19rem - 100%) * 999,
        100%),
      1fr
    )
  );
  gap: var(--gap);
  justify-content: space-around;

  align-content: center;
}

.nav-text {
  position: relative;
  place-self: center;

  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  
  transition: color .2s linear;

  color: #000000;
}

.nav-text:after {
  content: "";
  width: 100%;
  height: 3px;
  opacity: 0;

  background-color: #92A0B8;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity .2s linear;
}

.nav-text:hover {
  color: #92A0B8;
}

.nav-text:hover:after {
  opacity: 1;
}
